doctype html
html
  head
    title cosu
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300")
    link(rel="stylesheet", href="css/style.css")
  body
    div.container
      b.title cosu
      p.desc a user wrapper for osu!
      form(method="post", action="/", enctype="application/json")
        input(type="text", name="name", placeholder="input your name")
