doctype html
html
  head
    title= title
    link(rel="stylesheet", href="css/style.css")
  body
    div.container
      div.desc#name= name
      span.title= rank
      span.title= level
      div.desc= total
