:root {
  font-family: Open Sans, sans-serif;
}

.container {
  margin: 200px 0 0 250px;
}

.title {
  font-size: 100px;
  font-weight: bold;
}

.desc {
  font-size: 32px;
  font-weight: lighter;
  margin: 0;
}

input {
  margin-top: 20px;
  height: 50px;
  width: 400px;
  border: 0;
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  font-weight: 300;
  border-bottom: 1px solid #aaa;
  transition: .5s border-bottom-color ease;
}

input:hover {
  border-bottom-color: #7fdbff;
}

input:focus {
  border-bottom-color: #0074d9;
}
